<p-toast [style.zIndex]="99999999"  position="center" key="toastMessage"></p-toast>

 <div class="card card-w-title">
   <div class="ui-g">
      <div class="ui-g-12 ui-md-12 text-right">
          <h1> مقادیر مشخصه {{technicalName}}</h1>
        </div>
   </div>
   <div class="ui-g-12 ui-md-6 text-left">
    <p-button label="" icon="pi pi-arrow-left" iconPos="left" (onClick)="onCancel($event)">
    </p-button>
  </div>
   <div class="ui-g">     
     <div class="ui-g-12 ui-md-12 text-right">
       <p-button label="افزودن مقدار جدید به مشخصه" icon="pi pi-plus" iconPos="left"
        (onClick)="onInsert($event)">
       </p-button>
     </div>
   </div>
   
      <app-technical-child-list-table [technicalChilds]="technicalChilds" 
                                      (onUpdate)="onUpdate($event)"
                                      (onDelete)="onDelete($event)"></app-technical-child-list-table>
  </div>