<p-toast [style.zIndex]="99999999"  position="center" key="toastMessage"></p-toast>

 <div class="card card-w-title">
   <div class="ui-g">
      <div class="ui-g-12 ui-md-12 text-right">
          <h1>فیلترهای دسته بندی {{productCategoryName}}</h1>
        </div>
   </div>
   <div class="ui-g-12 ui-md-6 text-left">
    <p-button label="" icon="pi pi-arrow-left" iconPos="left" (onClick)="onCancel($event)">
    </p-button>
  </div>
   <div class="ui-g">     
     <div class="ui-g-12 ui-md-12 text-right">
       <p-button label="افزودن مشخصه جدید برای دسته بندی" icon="pi pi-plus" iconPos="left"
        (onClick)="onInsert($event)">
       </p-button>
     </div>
   </div>
   
      <app-product-category-technical-list-table [productCategoryTechnicals]="productCategoryTechnicals" 
      (onUpdate)="onUpdate($event)"
      (onDelete)="onDelete($event)"></app-product-category-technical-list-table>
  </div>