<p-toast [style.zIndex]="99999999"  position="center" key="toastMessage"></p-toast>

 <div class="card card-w-title">
   <div class="ui-g">
      <div class="ui-g-12 ui-md-12 text-right">
          <h1>دسته بندی محصولات</h1>
        </div>
   </div>
   <div class="ui-g">     
     <div class="ui-g-12 ui-md-12 text-right">
       <p-button label="ایجاد دسته بندی جدید" icon="pi pi-plus" iconPos="left"
        (onClick)="onInsert($event)">
       </p-button>
     </div>
   </div>
      <app-product-category-list-table [productcategories]="productcategories" 
      (onInsertSubSet)="onInsertSubSet($event)"
      (onUpdate)="onUpdate($event)"
      (onTechnical)="onTechnical($event)"
      (onDelete)="onDelete($event)"></app-product-category-list-table>
  </div>