<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-12">
      <div class="card no-margin ui-rtl" dir="rtl">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-6">
            <h1>{{childTitle}}</h1>
          </div>
          <div class="ui-g-12 ui-md-6 text-left">
            <p-button label="" icon="pi pi-arrow-left" iconPos="left" (onClick)="onCancel($event)">
            </p-button>
          </div>
        </div>
        <form #ProductCategoryTechnicalForm="ngForm" class="mt-5" (ngSubmit)="onSubmit($event)">
          <div class="ui-g form-group">

           <!-- title label and input -->
           <div class="ui-g-12 ui-md-2">
            <label for="input">عنوان مشخصه</label>
          </div>
          <div class="ui-g-12 ui-md-6">
            <span class="md-inputfield">
              <input name="title" [(ngModel)]="model.Title"
              autofocus
              id="title"
              #title="ngModel"
              type="text"  pInputText required />
            </span>
            <div [hidden]="title.valid || title.untouched">
              <div [hidden]="!title.hasError('required')" class="text-danger">
               عنوان را وارد نمایید
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-md-4"></div>
          <!-- end title label and input -->


            <div class="ui-g-12 ui-md-2">
              <button type="submit" class="btn btn-primary" 
              icon="pi pi-save" iconPos="left"
              [disabled]="!ProductCategoryTechnicalForm.form.valid" label="ذخیره" pButton></button>
            </div>
            <div class="ui-g-12 ui-md-4"></div>
          </div>
        </form> 
      </div>
    </div>
  </div>
 </div>
  