<p-confirmDialog header="!یادداشت" icon="pi pi-question-circle" [style]="{width: '425px'}" #cd>
        <p-footer>
          <button type="button" pButton  label="بله"  class="ok" (click)="cd.accept()"></button>
          <button type="button" pButton  label="خیر" (click)="cd.reject()"></button>
        </p-footer>
</p-confirmDialog>
<p-toast [style.zIndex]="99999999"  position="center" key="toastMessage"></p-toast>

<div class="ui-rtl" dir="rtl">
    <p-table #dt [columns]="cols"
     [responsive]="true" 
     [(contextMenuSelection)]="selectedTechnical"
     [contextMenu]="cm"
     [value]="technicals">
      <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" 
                 placeholder="جست وجو"
                 (input)="dt.filterGlobal($event.target.value, 'contains')" >
            </div>
      </ng-template>
      <ng-template pTemplate="header"  let-columns>
          <tr >
              <th *ngFor="let col of columns">
                  {{col.header}}
              </th>
              <th style="width:8em"></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-technical let-columns="columns">
          <tr [pContextMenuRow]="rowData" [pSelectableRow]="technical">
              <td>{{technical.Title}}</td>
              <td>
                      <div class="btn-group" role="group" aria-label="First group">
                        <button pButton title="ویرایش" type="button" class="ui-button-raised ui-button-info tbl-button" (click)="onEdit(technical)">
                          <span class="pi pi-pencil"></span>
                        </button>
                        <button pButton  title="حذف" type="button" class="ui-button-danger tbl-button" (click)="onRemove(technical)">
                          <span class="pi pi-times"></span>
                        </button>
                      </div>
              </td>
          </tr>
      </ng-template>
   </p-table>
   <p-contextMenu #cm [model]="items"></p-contextMenu>
</div>
